@keyframes fadeBetween {
  0% {
    color: rgb(253, 217, 9);
  }

  15% {
    color: rgb(240, 211, 47);
  }

  30% {
    color: rgb(208, 255, 0);
  }

  45% {
    color: rgb(227, 193, 2);
  }

  60% {
    color: rgb(234, 255, 0);
  }

  75% {
    color: rgb(233, 176, 33);
  }

  100% {
    color: rgb(233, 176, 33);
  }
}

.nav-bar {
  background-color: pink;
}

.nav-Link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  font-size: 18px;
  background-color: #2c1253cb;
  color: rgb(224, 220, 220);
  width: 100%;
  animation: fadeBetween 3s infinite;
}

.header-List {
  list-style: none;
}

.icon-class {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.lessthan {
  font-size: 15px;
}

@media only screen and (max-width: 650px) {
  .nav-Link {
    padding: 20px 10px;
    font-size: 15px;
  }

  .icon-class {
    width: 50px;
  }

  .lessthan {
    font-size: 10px;
  }
}
